@font-face {
    font-family: "Avara";
    src: url("Avara-master/fonts/webfonts/BoldItalic/Avara-BoldItalic.eot");
    src: url("Avara-master/fonts/webfonts/BoldItalic/Avara-BoldItalic.woff") format("woff"),
    url("Avara-master/fonts/webfonts/BoldItalic/Avara-BoldItalic.ttf") format("opentype");
    }


    @font-face {
        font-family: "Syne-bold";
        src: url("syne-typeface-master/fonts/webfonts/Syne-Bold.woff")  format("woff");
        src: url("syne-typeface-master/fonts/otf/Syne-Bold.otf") format("opentype");
        }
    
        @font-face {
            font-family: "Syne-extrabold";
            src: url("syne-typeface-master/fonts/webfonts/Syne-ExtraBold.woff")  format("woff");
            src: url("syne-typeface-master/fonts/otf/Syne-ExtraBold.otf") format("opentype");
            }
            @font-face {
                font-family: "Syne-italic";
                src: url("syne-typeface-master/fonts/webfonts/Syne-Italic.woff")  format("woff");
                src: url("syne-typeface-master/fonts/otf/Syne-Italic.otf") format("opentype");
                }
                 
                @font-face {
                    font-family: "Syne-regular";
                    src: url("syne-typeface-master/fonts/webfonts/Syne-Regular.woff")  format("woff");
                    src: url("syne-typeface-master/fonts/otf/Syne-Regular.otf") format("opentype");
                    }

                           
                @font-face {
                    font-family: "Syne-monoregular";
                    src: url("syne-typeface-master/fonts/webfonts/SyneMono-Regular.woff")  format("woff");
                    src: url("syne-typeface-master/fonts/otf/SyneMono-Regular.otf") format("opentype");
                    }

html,
body {
  background-color:  rgb(241, 241, 241);
  background-repeat: repeat-y;
  
scroll-behavior: smooth;
cursor: url(/cursor.cur);
color: plum;
line-height: 160%;

font-size: 25px;
font-family: 'Syne-regular', serif;
}


#about {
    
margin-top: 100px;
font-family: 'Syne-regular', serif;
color: plum;
background-color: white;
}

r-cell {
   border-block: 2px;
   border-color:  2px solid floralwhite;
   margin-top: 75px;
   margin-bottom: 25px;

   
}




button {
    color: #1D9AF2;
    background-color: transparent;
    border: 1px solid #1D9AF2;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height:32px;
    font-size:14px;
    border-radius: 70%;
    transition: all 0.2s ease-in-out;
    }
  

h2 {
        font-family: 'Syne-bold', serif;
        font-size: 30px;
    }

    h1 {
        font-family: 'Syne-bold', serif;
        font-size: 35px;
    }

    

    #projects {
        text-align: center;
    }


    a {
        color: blueviolet;
        text-decoration-line: none;
       
    }
    a:hover{
text-decoration-line: underline;
color: blueviolet;
    }
