
body {

  padding-left: 1%;
  padding-right:1%; 
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
/*  color: #FFF275;
  background-color:#bebebe; */
  font-size:1.2rem;
  scroll-behavior: smooth;
cursor: url(/cursor.cur);
overscroll-behavior-x: hidden;

padding-bottom: 30px /*whatever the height of your footer is*/
/*background-image: radial-gradient(circle, #b7a9cd, #465233); */
}


.footer-text {
  position: fixed;
  bottom: 0;
  text-align: center;
  font-size: 0.6rem;
}




.push {
  visibility: hidden;
}

@media only screen and (max-width: 480px)
{
  
.push {
    display: none;
}

}
  

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 23.8%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}


/*
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  height: 40px;
  margin-bottom: 10px;
}*/